<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2.15</title>
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- fonts-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@800&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@500;800&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;500;800&display=swap" rel="stylesheet">

</head>
<body>
    <div class="header">
        <div class="title_main">
            <img class="pfp" src="https://cdn.discordapp.com/attachments/785845862328565800/991193973152550963/winston_pfp.png" alt="portfolio image">
            <h1>Winston Walter</h1>
            <hr>
        </div>
    </div>
    <div class="info">
        <div class="about">
            <table cellspacing="200vw">
                <tr>
                    <td id="about-title">
                        <h1>About Me</h1>
                        <hr>
                    </td>
                    <td id="about-p">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium impedit natus et! Architecto vel ipsa sit, fuga quisquam ratione recusandae nulla atque, delectus vero ex impedit, qui incidunt reiciendis expedita!</p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="contact">
            <h1></h1>
            <p></p>
        </div>
    </div>
</body>
</html>